body {
  background-image: url("NBA.jpg");
}
h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
img {
  width: 600px;
  height: 650px;
}
a {
  color: blue;
}
ol {
  color: white;
}
p {
  color: white;
}
section {
  width: 600px;
  background-color: grey;
  margin: 0 auto;
}
